.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
venv/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs/
tests/
plugins/
*.egg-info/
include/
.astro/
Materials/
.astro/*.local.yml
.astro/*.local.yaml

# Local runtime / editor
*.pyc
.ipynb_checkpoints/
nohup.out
